<%= form_with(model: miembro) do |form| %>
  <% if miembro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(miembro.errors.count, "error") %> prohibited this miembro from being saved:</h2>

      <ul>
        <% miembro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card bg-secondary m-2" style="width: 25rem;color:white" >
    <div class="card-header">
      Miembro
    </div>
    <div class="card-body d-flex flex-column">
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>

        <%= form.label :apellido %>
        <%= form.text_field :apellido %>
  
      <!-- 
        <%= form.label :miembro %>
        <%= form.select :miembro, ["Miembro 1", "Miembro 2"] %> -->
        
    </div>
    <div class="card-footer">
      <%= form.submit "Guardar miembro", :class => "btn btn-dark" %>
    </div>
  </div>


<% end %>
